RUST_LOG=debug

CLIENT_ID=rust-simple-chat
JWT_SECRET=bc3ef5f9b140bfdeb31e7fd183841e06255f6a9e41e422cf267a22f5468d7223

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=54320
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_SCHEMA=rust_simple_chat
POSTGRES_DB=rust-simple-chat